* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --card-clr: #396af3;
  --primary-clr: #f0bf6a;
  --heading-clr: #ffffff;
  --text-clr: #c3c4c8;
}

body {
  overflow-x: hidden;
}

hr {
  margin: 2px -10000px;
}

.main-container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 10px;
  color: black !important;
}

.header-logo-image {
  height: 40px;
}
.header-logo-text {
  font-size: 1.2rem;
}

.header-navbar {
  display: flex;
  gap: 30px;
}

.header-navbar a,
.header-navbar a:visited,
.header-navbar a:hover,
.header-navbar a:active {
  color: var(--card-clr);
  text-decoration: none;
}

.header a {
  text-decoration: none;
}

/* Formulario de Contacto */
.Cursos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: left;
  text-align: left;
  gap: 20px;
  padding-top: 20px;
}

.cursosheader {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-self: left;
  gap: 20px;
}

/* .cursos-info {
 width: 80%;
  display: flex;
 flex-direction: column;
  justify-content: left;
  align-items: left;
  align-self: left;
  gap: 30px;
}*/

.cursos-head-01 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 10px;
}
.cursos-head-02 {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
}
.cursos-texto-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}
.cursos-texto-02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 10px;
}

/* TESTIMONIOS */
.testimonios {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  gap: 20px;

  padding-top: 20px;
}

.testimonios-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 30px;
}

.testimonios-texto-01 {
  font-size: 1.5rem;
  font-weight: bold;
}
.testimonios-texto-02 {
  font-size: 1.2rem;
  text-align: center;
}

/* SLIDER */

/* Estilos para el contenedor del carrusel */
.my-slider {
  width: 100%;
  padding: 0px 8%;
  margin-bottom: 30px;
}

.tns-outer {
  position: relative;
}
.tns-outer .testimonial-card {
  padding: 20px;

  /* EVITAR SELECCIONAR TEXTO DENTRO DE LOS SLIDES */
  webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.testimonial-card .test-card-body {
  background-color: var(--card-clr);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 20px;
  height: 100%;
  width: 100%;
}

.test-card-body .quote {
  display: flex;
  align-items: center;
  min-height: 20px;
}

.test-card-body .quote i {
  font-size: 45px;
  color: var(--heading-clr);
  margin-right: 20px;
}

.test-card-body .quote h2 {
  color: var(--heading-clr);
  font-size: 14px;
}
.test-card-body p {
  margin: 10px 0px 5px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-clr);
  min-height: 50px;
}

.test-card-body .ratings {
  align-self: baseline;
}
.test-card-body .ratings i {
  font-size: 12px;
  color: var(--primary-clr);
  cursor: pointer;
}
.testimonial-card .profile {
  display: flex;

  padding: 20px;
  margin: 0 20px 0 2px;
  width: 100%;
}
.profile .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  overflow: hidden;
  margin-right: 15px;
}
.profile .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile .profile-desc {
  display: flex;
  flex-direction: column;
}
.profile-desc span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.profile-desc span:nth-child(2) {
  font-size: 14px;
  color: var(--text-clr);
}

/* Formulario de Contacto */
.Contacto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  gap: 20px;

  padding-top: 20px;
}

.formulario-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 30px;
}

.formulario__input {
  width: 100%;
  background: #ffffff;
  border: 3px solid transparent;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #396af3;
  outline: none;
  box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario-texto-01 {
  font-size: 1.5rem;
  font-weight: bold;
}
.formulario-texto-02 {
  font-size: 1.2rem;
  text-align: center;
}

form {
  padding: 50px 55px;
  align-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 340px;
}

label {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  color: var(--text-clr);
  background-color: var(--card-clr);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  display: none;
}

.formulario__mensaje-exito-activado {
  display: block;
}

/* SOBRE NOSOTROS */

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-title {
  align-self: flex-start;
  margin-top: 30px;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about-cards-card {
  display: flex;
  flex-basis: calc(50% - 10px); /* 50% width with a little spacing */
  margin-bottom: 20px;
  margin-right: 0;

  flex-direction: column;
}

.about-cards-card-title {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.about-cards-card-text {
  font-size: 12px;
}

/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer-logo a {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 10px;
  color: black !important;
}

.footer-logo-image {
  height: 40px;
}
.footer-logo-text {
  font-size: 1.2rem;
}

.footer-nav {
  display: flex;
  gap: 70px;
}

.footer-nav a,
.footer-nav a:visited,
.footer-nav a:hover,
.footer-nav a:active {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}

.footer-logo a {
  text-decoration: none;
}

.footer-copyright {
  font-style: italic;
  font-size: 12px;
}


/* Estilos generales para la tabla y el calendario */
#calendarTitle {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
  }
  
  #calendarTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  #calendarTable th, #calendarTable td {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  #calendarTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  #calendarTable td.gray {
    background-color: gray;
    color: white;
  }
  
  #calendarTable td.blue {
    background-color:rgba(0, 0, 255, 0.315);
    color: white;
  }
  
  #calendarTable td.red {
    background-color: rgba(255, 0, 0, 0.219);
    color: white;
  }
  
#calendarTable td.yellow {
  background-color: rgba(255, 255, 0, 0.349);
  color: white;
}
  
  #courseInfo {
    text-align: center;
    margin: 85px;
  }
  
  
  .course-name {
    font-weight: bold;   /* cambia fuente del nombre del curso*/
  }
  
  /* Estilos para las fechas de inicio de cursos */
  #calendarTable td.course-start-date {
    border: 2px solid black;
    background-color: transparent;
    color: black;
  }
  
  #calendarTable td.course-start-date.gray {
    border-color: gray;
    background-color:gray;
  }
  
  #calendarTable td.course-start-date.blue {
    border-color: rgba(0, 0, 255, 0.315);
    background-color: rgba(0, 0, 255, 0.315);
  }
  
  #calendarTable td.course-start-date.red {
    border-color: rgba(255, 0, 0, 0.219);
    background-color:rgba(255, 0, 0, 0.219);
  }

  #calendarTable td.course-start-date.yellow {
    border-color: rgba(255, 255, 0, 0.349);
    background-color:  rgba(255, 255, 0, 0.349); 
  }
  /* estilos calendario
  /* Estilos generales para la tabla y el calendario */
#calendarTitle {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

#calendarTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

#calendarTable th, #calendarTable td {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

#calendarTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#calendarTable td.gray {
  background-color: gray;
  color: white;
}

#calendarTable td.blue {
  background-color:rgba(0, 0, 255, 0.315);
  color: white;
}

#calendarTable td.red {
  background-color: rgba(255, 0, 0, 0.219);
  color: white;
}

#calendarTable td.yellow {
background-color: rgba(255, 255, 0, 0.349);
color: white;
}

#courseInfo {
  text-align: center;
  margin: 85px;
}


.course-name {
  font-weight: bold;   /* cambia fuente del nombre del curso*/
}

/* Estilos para las fechas de inicio de cursos */
#calendarTable td.course-start-date {
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

#calendarTable td.course-start-date.gray {
  border-color: gray;
  background-color:gray;
}

#calendarTable td.course-start-date.blue {
  border-color: rgba(0, 0, 255, 0.315);
  background-color: rgba(0, 0, 255, 0.315);
}

#calendarTable td.course-start-date.red {
  border-color: rgba(255, 0, 0, 0.219);
  background-color:rgba(255, 0, 0, 0.219);
}

#calendarTable td.course-start-date.yellow {
  border-color: rgba(255, 255, 0, 0.349);
  background-color:  rgba(255, 255, 0, 0.349); 
}
