* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 10px;
}

.header-logo-image {
  height: 40px;
}
.header-logo-text {
  font-size: 1.2rem;
}

.header-navbar {
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
}
